 html {
        background-color: #444;
        padding: 0 1em;
      }
      body {
        background-color: #fff;
        font-family: 'Lato', sans-serif;
        margin: 1em auto;
        max-width: 50em;
        height: 120em;
      }
      #section-top {
        width: 100%;
        float: center;
        height: 20%;
        background-color: #3d0c44;
        color: #fff;
        text-align: left;
      }

        
         .pic {
        height: 250px;
        width: 150px;
        border-radius: 30%;
        margin: 10px 10px 0px 0px;
      }

     
     
    #contact{
      margin-top: 30px;
      margin-left: 40px;
      text-align: left;
    }

      h1 {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        margin-left: 40px;
        margin-top: 40px;
      }
      #section-bottom{
        width: 100%;
        height: 70%;
        float: right;
      }
      #section-bottom .section {
        margin: 0 0 5px 0;
      }
      .wrapper {
        padding: 2em;
      }
      .fa {
        margin-right: 15px;
      }
      .wrapper .title {
        color: #620563;
        font-size: 1.3em;
        font-variant: small-caps;
        letter-spacing: 0.1em;
        font-weight: bold;
        border-bottom: 2px solid #f2f2f2;
      }

      .table{
        border-collapse: collapse;
        width: 100%
        text-align: center;
      }
      th,td{
        border: 2px solid #ddd;
        padding: 15px;
      }
     th{
      background: #3d0c44;
      color: white;
     }

      a:link {
        color: #fff;
        text-decoration: none;
      }
      a:visited {
        color: #fff;
        text-decoration: none;
      }
      a:hover {
        color: #fff;
        text-decoration: none;
      }
      a:active {
        color: #fff;
        text-decoration: none;
      }
      h2 {
        text-transform: uppercase;
        font-size: 1em;
      }
      h3 {
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: bolder;
      }
  
